<div class="container-fluid">
    <h3 class="">Login</h3>

    <div class="alert alert-danger" *ngIf="message" role="alert">{{message}}</div>

    <div class="form-group ">
        <div class="input-group ">
            <span class="input-group-addon" id="inputUserIcon" >
                <i class="glyphicon glyphicon-envelope"></i>
            </span>
            <input type="text" class="form-control" id="inputUser" [(ngModel)]="currentUser.name" name="name"
                   placeholder="Username" aria-describedby="inputUserIcon">
        </div>
    </div>

    <div class="form-group ">
        <div class="input-group ">
            <span class="input-group-addon" id="inputPasswordIcon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="currentUser.password" name="password"
                   placeholder="Password" aria-describedby="inputPasswordIcon">
        </div>
    </div>

    <div class="form-group ">
        <div class="col-xs-6">
            <button (click)="loginUser(currentUser)" class="btn btn-default col-xs-12" >Entrar</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-warning col-xs-12">Cadastrar</button>
        </div>
    </div>
</div>