<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Nav Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" (click)="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                <img alt="Brand" src="app/icons/favicon2.png">
            </a>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">4Fashion</a>
        </div>

        <!-- Nav Items -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/" routerLinkActive="active"><i class="glyphicon glyphicon-user"></i> Entrar/Registrar </a></li>
                <li><a routerLink="/catalog" routerLinkActive="active"><i class="glyphicon glyphicon-info-sign"></i> Parceiros </a></li>
                <li><a routerLink="/product" routerLinkActive="active"><i class="glyphicon glyphicon-comment"></i> Portfolio </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="modelo-bg">
    <img class="img-responsive modelo-img" src="./app/imgs/modeloLogin.png">
</div>

<main>
    <router-outlet></router-outlet>
</main>
